.main-row {
    margin-top: 3rem;
    height: 30rem;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 2rem;
    width: 50rem;
    display: flex;
    justify-content: space-around;
}

.button-upload {
    width: 10rem;
}


.btn-edit {
    color: #41B8F0;
    border-color: #41B8F0;
}

    .btn-edit:hover {
        background-color: dodgerblue;
        border-color: #41B8F0;
    }

.container {
    display: flex;
    justify-content: center;
}

.profile-picture {
    width: 300px;
    height: 250px;
    margin-left: 1rem;
    border-radius: 1000px;
    margin-bottom: 2rem;
    margin-right: 1rem;
    background-image: url(/images/avatar.png);
    background-size: 80% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

p {
    font-weight: 500;
}

.col-9 {
    width: 20rem;
}

.shape {
    width: 300px;
    height: 250px;
    border-radius: 1000px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}
