@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
<link href="/css/homepagecss.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="home-pic-box">
        <div class="quote-box">
            <div class="quote">"Volounteers don't get paid, not because they're worthless, but because they're priceless." - Sharry Anderson</div>
        </div>
    </div>
    <div class="icon-link">
        <div class="icon-box">
           <div class="icon-image-1"></div>
        </div>
        <div class="icon-box">
            <div class="icon-image-2"></div>
        </div>
        <div class="icon-box">
            <div class="icon-image-3"></div>
        </div>
    </div>
    <div class="row up mb-5" style="margin-top: -150px;">
        <div class="col-4">
            <h3>About us</h3>

        </div>
        <div class="col-4">
            <h3>Site information</h3>

        </div>
        <div class="col-4">
            <h3>How to apply to a project?</h3>

        </div>
      
    </div>
</body>
</html>