@model Erasmus.Domain.DTO.ProjectDetailsDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@await Component.InvokeAsync("Notyf") 
<style>
    .text-blue {
        color: #263F6B;
    }
</style>

<div class="alert alert-light w-75 justify-content-center mx-auto">
    <div class="justify-content-center text-center">
    <img src="/projectimages/@Model.ProjectPhotoPath" style="width:200px; height:200px;"/>
    <div>   
    <h1 class="h3 text-warning">@Model.ProjectTitle</h1>
    <h2 class="h4 text-blue">@Model.ProjectDescription</h2>
    </div>
    @if(User.IsInRole("Participant"))
    {
        if(!Model.UserHasApplied)
        {
            <a asp-controller="Participant" asp-action="UploadFiles" asp-route-eventId="@Model.ProjectId" class="btn btn-outline-warning btn-lg">Apply<i class="fa fa-check-circle" aria-hidden="true"></i></a>
        }
        <hr />
        if(Model.UserHasApplied)
        {
            <a asp-controller="Participant" asp-action="UploadFiles" asp-route-eventId="@Model.ProjectId"  class="btn btn-outline-primary btn-lg">See your application for event</a>
        }
    }
    </div>
   
   
</div>




