@model Erasmus.Domain.DTO.ProjectDetailsDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@await Component.InvokeAsync("Notyf") 


<div>
    <h1>@Model.ProjectTitle</h1>
    <h2>@Model.ProjectDescription</h2>
    <a asp-controller="Participant" asp-action="UploadFiles" asp-route-eventId="@Model.ProjectId" class="btn btn-primary">Apply</a>
    <hr />
    @{
        if(Model.UploadedFilesForUser != null)
        {
            <a asp-controller="Participant" asp-action="UploadFiles" asp-route-eventId="@Model.ProjectId">See your application for event</a>
        }
    }
</div>




